html {
  height: 100%;
}

.body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  background: rgb(103, 128, 159);
  margin: 0;
  min-height: 30px;
  padding: 0;
  text-align: right;
  width: 100%;
}

.nav a {
  color: white;
}

.nav ul {
  margin: 0;
  padding: 4px 5px 4px 0;
}

.nav li {
  display: inline-block;
  font-size: 1em;
  padding: .5em .5em;
}

.form-container {
  background-color: rgb(78, 205, 196);
  background-image: url("images/field.jpg");
  background-position: 50% 50%;
  background-size: cover;
  min-height: 100%;
  overflow: hidden;
}

.title {
  background-color: transparent;
  color: white;
  padding-bottom: 3%;
  padding-top: 3%;
}

.header {
  color: gray;
  display: block;
  font-family: 'Sansita One', cursive;
  font-size: 8.7vw;
  text-align: center;
}

.subheader {
  color: rgb(79, 99, 124);
  display: block;
  font-size: 5.4vw;
  margin-top: -12px;
  text-align: center;
}

.circle-container {
  margin: 3% 0;
  text-align: center;
}

.pic-container {
  display: inline-block;
  height: auto;
  margin: 3px 1%;
  text-align: center;
  width: 16%;
}

.pic {
  background-color: white;
  border-radius: 70%;
  color: gray;
  font-family: 'Sansita One', cursive;
  padding: 35.8% 0%;
  font-size: 3.6vw;
  text-align: center;
  width: 100%;
}

.pic1 {
  box-shadow: 0 0 5px 5px rgba(175, 177, 99, 1);
}

.pic2,
.pic3 {
  color: rgb(184, 184, 184);
}

.line {
  background: white;
  border-top: 1px solid white;
  display: inline-block;
  width: 2.8%;
}

.radio-tabs .state {
  left: -10000px;
  position: absolute;
}

#flights:focus ~ .tabs #flights-tab,
#hotels:focus ~ .tabs #hotels-tab,
#cars:focus ~ .tabs #cars-tab {
  box-shadow: 0 0 3px 3px rgba(0, 127, 255, .5);
}

.radio-tabs .tab {
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1em;
  padding: 0.7em;
}

.radio-tabs .tab:hover {
  background-color: #fff;
}

#flights:checked ~ .tabs #flights-tab,
#hotels:checked ~ .tabs #hotels-tab,
#cars:checked ~ .tabs #cars-tab {
  background-color: #fff;
  border-bottom: .3em solid #fff;
  cursor: default;
}

.panels {
  background-color: rgba(255, 255, 255, 1);
  float: left;
  overflow: hidden;
  width: 100%;
}

.radio-tabs {
  margin: 45px auto;
  width: 85%;
  overflow: hidden;
}

.radio-tabs .panel {
  display: none;
}

#flights:checked ~ .panels #flights-panel,
#hotels:checked ~ .panels #hotels-panel,
#cars:checked ~ .panels #cars-panel {
  display: block;
}

.form {
  float: left;
  margin-top: 15px;
  width: 100%;
}

label {
  display: block;
  font-size: 0.9em;
  padding-top: 9px;
}

input {
  border: solid 1px #dcdcdc;
  float: left;
  height: 43px;
  margin-top: 6px;
  padding-left: 6px;
  width: 94%;
}

#flights-panel,
#hotels-panel,
#cars-panel {
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.button-center {
  margin: 0 auto;
  width: 122px;
}

.button {
  background: rgb(226, 225, 225);
  font-size: 18px;
  height: 43px;
  letter-spacing: 2px;
  line-height: 1px;
  margin: 15px auto;
  padding: 8px;
  text-decoration: none;
  text-align: left;
  width: 122px;
}

.button:hover {
  font-weight: bold;
}

.plane {
  background-image: url("images/plane.png");
  background-position: right 4px bottom 2px;
}

.hotel {
  background-image: url("images/bed.png");
  background-position: right 1px bottom 0px;
}

.car {
  background-image: url("images/car.png");
  background-position: right 5px bottom 4px;
}

.plane,
.hotel,
.car {
  background-repeat: no-repeat;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 25px;
  padding-right: 15px;
  padding-top: 7px;
  text-align: center;
}

@media (min-width: 750px) {
  .header {
    font-size: 65px;
  }
  .form {
    width: 50%;
  }
  .subheader {
    font-size: 40px;
  }
  .pic-container {
    width: 124px;
  }
  .pic {
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .entry {
    display: inline-block;
    width: 20%;
  }
  .one-four {
    width: 25%;
  }
  .one-five {
    width: 20%;
  }
}


