/* Alegra sans & Droid*/
/*font-family: 'Droid Sans', sans-serif;

font-family: 'Alegreya Sans', sans-serif;*/

.body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nav {
  background: rgb(103, 128, 159);
  margin: 0;
  min-height: 30px;
  padding: 0;
  text-align: right;
  width: 100%;
}

.nav a {
  color: white;
}

.nav ul {
  margin: 0;
  padding: 4px 5px 4px 0;
}

.nav li {
  display: inline-block;
  padding: .5em .5em;
}

.title {
  background-color: rgb(31, 58, 147);
  color: white;
  padding-bottom: 3%;
  padding-top: 3%;
}

.block-text {
  display: block;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 6vw;
  text-align: center;
}

.form-container {
  background-color: rgb(78, 205, 196);
  padding: 3em 3em 5em 3em;
}

.panel-line {
  color: rgb(226, 106, 106);
  display: block;
}

.radio-tabs .state {
  left: -10000px;
  position: absolute;
}

#flights:focus ~ .tabs #flights-tab,
#hotels:focus ~ .tabs #hotels-tab,
#cars:focus ~ .tabs #cars-tab {
  box-shadow: 0 0 3px 3px rgba(0, 127, 255, .5);
}

.radio-tabs .tab {
  background-color: #eee;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  padding: .5em;
  vertical-align: top;
}

.radio-tabs .tab:hover {
  background-color: #fff;
}

#flights:checked ~ .tabs #flights-tab,
#hotels:checked ~ .tabs #hotels-tab,
#cars:checked ~ .tabs #cars-tab {
  background-color: #fff;
  border-bottom: .3em solid #fff;
  cursor: default;
}

.radio-tabs .panels {
  background-color: #fff;
  padding: 1.3em;
  width: 74%;
  width: intrinsic;
}

.radio-tabs {
  margin: 0 auto;
  width: -webkit-max-content;
}

.radio-tabs .panel {
  display: none;
}

#flights:checked ~ .panels #flights-panel,
#hotels:checked ~ .panels #hotels-panel,
#cars:checked ~ .panels #cars-panel {
  display: block;
}
/* end of show */

.circle-container {
  margin: 3% 0;
  text-align: center;
}

.pic-container {
  display: inline-block;
  height: auto;
  margin: 10px 4%;
  text-align: center;
  width: 15%;
}

.pic {
  background-color: rgb(253, 227, 167);
  border-radius: 70%;
  padding: 50% 0;
  text-align: center;
  width: 100%;
}

.pic1 {
  background-image: url("images/waterleaf.svg");
  background-size: cover;
}

.pic2 {
  background-image: url("images/camera.svg");
  background-position: center;
  background-size: cover;
}

.pic3 {
  background-image: url("images/biggreenleaf.svg");
  background-position: center;
  background-size: cover;
}

input {  
  border: solid 1px #dcdcdc;
  height: 23px;
  margin: 0;
  padding: 9px;
  transition: box-shadow 0.3s, border 0.3s;
  width: 150px;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date] {
  width: 134px;
}

.margin-top {
  margin-top: 5px;
}

select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border-radius: 0;
  border: solid 1px #dcdcdc;
  height: 43px;
  margin: 0;
  padding: 5px;
  text-align: center;
  text-indent: 1px;
  text-overflow: '';
  transition: box-shadow 0.3s, border 0.3s;
  width: 147px;
}

option {
  color: red;
  padding: 5px;
}

.search {
  background: white;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 18px;
  height: 43px;
  letter-spacing: 2px;
  padding: 6px;
  text-align: center;
  width: 95px;
}

.footer {
  background-color: rgb(46, 204, 113);
  height: 25px;
  max-width: 100%;
  padding-right: 15px;
  padding-top: 15px;
  text-align: right;
}

@media (max-width: 985px) {
  .radio-tabs {
    width: 522px;
  }
}

@media (max-width: 580px) {
  .radio-tabs {
    width: -webkit-min-content;
  }
  .search {
    margin-left: 20%;
  }
}